body {
  background-color: #E4FBFF;
}

h1 {
  color: #319DA0;
}
h2 {
  color: #3CA59D;
}
h3 {
  color: #3CA59D;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 45px
