body {
  background: linear-gradient(to bottom, #94DAFF 30%, #BDE6F1 70%);
  font-family: 'Merriweather', serif;
  font-size: 100%;
}

h1 {
  font-size: 3rem;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  padding: 2PX;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin-top: 70px;
  margin-bottom: 70px;
}

tr {
  line-height: 2;
}

li {
  margin-left: 800px;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: #8FC1D4;
  border-width: 5px;
  width: 45px
  }

  ul {
    text-align: left;
    line-height: 2;
  }

.Reyn {
  width: 180px;
}

p {
    position: relative;
    margin: auto;
    line-height: 2;

}
.text-bullet-centered {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0%,-50%);
    font-weight: bold;
}
a {
  color:  #3CA59D;
}
/**************************CLASS SELECTOR********************/

img:hover {
  background-color: #00D7FF;
}
.circular {
  border-radius: 50%;
}
